.home {
    height: 100vh;
    background-image: url('../../assets/images/bg-image.svg');
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        position: relative;
        display: flex;
        justify-content: flex-end; // Aligns to the right
        align-items: center;                
        height: 100%;
        margin-left: auto;
        padding-right: 2rem;        
        text-align: right;

        &-container {
            p {
                color: #fff;
            }
        }

        &::before{
          position: absolute;  
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: '';
          background-color: rgba(0, 0, 0, 0.5);
        }
    }
}