.header {    
    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__menu {
        // display: inline-flex;        
        // column-gap: 2rem;

        .active-link {
            font-size: 1.6rem;
            color: var(--text-color-one); 
            display: block;           
        }

        .inactive-link{
            display: block;
        }

        a{   
            font-size: 1.6rem;         
            text-decoration: none;
            color: var(--text-color-two);
            text-decoration: none;            

            &:hover{color: var(--text-color-one); 

            }
        }
    }

    &__theme-btn {
        padding: 20px 10px;
        border-radius: 10px;
        background-color: var(--button-bg-color);
        color: var(--button-color);

        svg{
            vertical-align: middle;
        }
    }
}