.app {
    height: 100vh;
    background-color: var(--bg-color);

    display: grid;
    grid-template-columns: minmax(20rem, 10rem) 1fr;
    overflow: hidden; // IMPORTANT to hide sliding overflow    
    // column-gap: 2rem;

    .route-container {
        // border: 1px solid yellow;

        background-color: var(--route-bg-color);
        width: 100%;
        animation: slideIn 300ms ease-in-out;
    }    
}

@keyframes slideIn {
  from {
    transform: translateX(40px); // this moves from left to right horizontally
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}