// _dark.scss
$backgroundColor: #000;
$buttonBgColor: #7369ff;
$buttonColor: #fff;
$textColorOne: #7369ff;
$textColorTwo: #eee;
$subHeadingColor: #fff;

// $glassColor: rgba(0, 0, 0, 0.5);

@mixin theme {
  --bg-color: #{$backgroundColor};
  --button-bg-color: #{$buttonBgColor};      
  --button-color: #{$buttonColor};
  --text-color-one: #{$textColorOne};
  --text-color-two: #{$textColorTwo};
  --subheading-color: #{$subHeadingColor};

  // --glass-color: #{$glassColor};
}

