// _dark.scss
$backgroundColor: #fff;
$themeButtonColor: #fff;

// $glassColor: rgba(0, 0, 0, 0.5);

@mixin theme {
  --bg-color: #{$backgroundColor};
  --theme-button: #{$themeButtonColor};

  // --glass-color: #{$glassColor};
}

