$backgroundOpacity: rgb(0 0 0 / 50%);

@mixin glassMorphismbg {    
  background: var(--glassColor);    
  backdrop-filter: blur(1px);
}

@mixin verticalCenterAlignment {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid green;
}